.container {
  height: 100%;
  width: 80%;
  margin: 0 auto; 
}

.flex-center-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basis-20-perc {
  flex-basis: 17%;

}

.wrap {
  flex-wrap: wrap;
}
.gap-40 {
  gap: 30px;
}

.padding-top-25 {
  padding-top: 25px;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}

.margin-right {
  margin-right: 100px;
}